body {
    font-family: Arial, sans-serif;
    background-color: #141414;
}
.data-list {
    list-style-type: none;
    padding: 0;
}
.data-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #343434;
    color:white;
}
.data-item p {
    margin: 5px 0;
}
.filter-container {
    margin-bottom: 20px;
}
.display-method-container {
    margin-bottom: 20px;
    color:white;
}