body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
background-color: #2c2a2a;
color:white;
}

#spirit, #skills, #exploration, #essence, #achievements, #tournament {
    display: none;
}

.container {
/*    max-width: 3000px;*/
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#row-stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

    #row-stats * {
        padding-left: 5px;
        padding-right: 5px;
        width: 150px;
        white-space: pre;
        text-align: center;
    }

#row-stats2 {
    margin-top: 5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    #row-stats2 * {
        padding-left: 5px;
        padding-right: 5px;
        width: 150px;
        white-space: pre;
        text-align: center;
    }

#settings-container {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 10px 0 10px 0;
    grid-gap:5px;
    align-items:center;
}

#tab-buttons {
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
    padding-bottom:20px;
}


.tabButton {
    background-color: grey;
    border-radius: 0px;
    border: none;
    color: white;
    font-weight:bold;
}

    .tabButton:hover {
        background-color: orange;
    }


h1 {
    text-align: center;
    margin-bottom: 20px;
}



button {
    cursor: pointer;
background-color: lightblue;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    width:150px;
}

    button:hover {
        background-color: lightgreen;
    }

.tab-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}


.testing-content {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

.testing-content-tab-columns {
    display:flex;
    flex-direction:row;
/*    border: 1px solid white;*/
    padding:5px;
/*    width: 450px;*/
}
.testing-content-tab {
    display: flex;
    flex-direction: column;
}

.testing-content-tab-col {
    display:flex;
    flex-direction:column;
}


.active-tab {
    background-color: #007BFF!important;
    color: white;
}

.realm-buttons-row {
    display:flex;
    flex-direction:row;
    justify-content:center;
    grid-gap:10px;
}

.realm-button{
    background-color:grey;
    color:white;
    font-weight:bold;
    border:none;
    border-radius:0px;
}

.exploration-tab-button {
    background-color: grey;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0px;
}

.exploration-tab-button:hover {
    background-color: orangered;
}

.realm-button:hover {
    background-color: orangered;
}

.realm-content {
    display: flex;
    flex-direction: row;
}

.training-cell {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.training-cell * {
    padding-left:5px;padding-right:5px;
}


.training-current-value {
    width:100px;
}
.training-name {
    width:120px;
}

.milestone {
    padding-top:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.milestone-level {
    padding: 0 2px;
}

.cross-out {
    text-decoration: line-through;
}


.upgrade-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upgrade-name {
    width:120px;
}
.upgrade-cell * {
    padding-left: 5px;
    padding-right: 5px;
}

.fighter-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fighter-cell * {
    padding-left: 5px;
    padding-right: 5px;
}

.fighter-name {
    width:100px;
}


.achievement-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .achievement-cell * {
        padding-left: 5px;
        padding-right: 5px;
    }

.generator-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .generator-cell * {
        padding-left: 5px;
        padding-right: 5px;
    }

.generator-name {
    width: 100px;
}


.skill-grid {
    position: relative;
}

.skill-node {
    color:black;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index:2;
    white-space:pre;
    user-select:none;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    width:100px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
    white-space:pre;
}

/*.skill-node:hover .tooltip {
    display: block;
}

.skill-node:hover .skill-level {
    display: none;
}*/


.skill-line {
    position: absolute;
    background-color: white;
    z-index:3;
}

    .skill-line.north {
        top: -10px;
        left: calc(50% - 1px);
        width: 2px;
        height: 10px;
    }

    .skill-line.south {
        bottom: -10px;
        left: calc(50% - 1px);
        width: 2px;
        height: 10px;
    }

    .skill-line.east {
        right: -10px;
        top: calc(50% - 1px);
        width: 10px;
        height: 2px;
    }

    .skill-line.west {
        left: -10px;
        top: calc(50% - 1px);
        width: 10px;
        height: 2px;
    }

#save {
    margin-left:20px;
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #save.fade {
        opacity: 0.5;
    }


#load {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #load.fade {
        opacity: 0.5;
    }


#reset {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #reset.fade {
        opacity: 0.5;
    }


#rebirth1 {
    margin-left:20px;
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth1.fade {
        opacity: 0.5;
    }

#rebirth2 {
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth2.fade {
        opacity: 0.5;
    }

#rebirth3 {
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth3.fade {
        opacity: 0.5;
    }



#multSettings {
    padding:0px;
    font-size: 14px;
    cursor: pointer;
    width:100px;
    height:30px;
}


/*# sourceMappingURL=/style.e308ff8e.css.map */