/* ------------------  */
/*        CORE         */
/* ------------------  */

body {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family:'Times New Roman', Times, serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: #2c2a2a;
    color:white;
}

.root {
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    position: relative;
    display: inline-block;
    white-space:pre;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(173, 216, 230, 0);
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    width:150px;
}

/* ------------------  */
/*     END CORE        */
/* ------------------  */




/* ------------------ */
/* COLOR ASSIGNMENTS */
/* ------------------ */

:root {
    /* Mellow Yellow */
    --color-1: #F8DE7E;
    --force-color: #F8DE7E;
    /* Sky Blue */
    --color-2: #87CEEB;
    --wisdom-color: #87CEEB;
    /* Soft Coral */
    --color-3: #FA8072;
    --energy-color: #FA8072;
    /* Lavender */
    --color-4: #E6E6FA;
    --divine-color: #E6E6FA;
    /* Mint Green */
    --color-5: #98FB98;
    --crystal-color: #98FB98;
    /* Powder Pink */
    --color-6: #FFD1DC;
    /* Mauve */
    --color-7: #E0B0FF;
    /* Pastel Orange */
    --color-8: #FFB347;
    /* Cornflower */
    --color-9: #93CCEA;
    /* Pistachio */
    --color-10: #93C572;
}

.force-color,
.color-1{
    color: var(--color-1);
}
.force-color div,
.color-1 div{
    color: var(--color-1);
}
.force-color button,
.color-1 button{
    color: var(--color-1);
    border: 1.5px solid var(--color-1);
}

.wisdom-color,
.color-2{
    color: var(--color-2);
}
.wisdom-color div,
.color-2 div{
    color: var(--color-2);
}
.wisdom-color button,
.color-2 button {
    color: var(--color-2);
    border: 1.5px solid var(--color-2);
}

.energy-color,
.color-3{
    color: var(--color-3);
}
.energy-color div,
.color-3 div {
    color: var(--color-3);
}
.energy-color button,
.color-3 button {
    color: var(--color-3);
    border: 1.5px solid var(--color-3);
}

.divine-color,
.color-4{
    color: var(--color-4);
}
.divine-color div,
.color-4 div {
    color: var(--color-4);
}
.divine-color button,
.color-4 button {
    color: var(--color-4);
    border: 1.5px solid var(--color-4);
}

.crystal-color,
.color-5{
    color: var(--color-5);
}
.crystal-color div,
.color-5 div {
    color: var(--color-5);
}
.crystal-color button,
.color-5 button {
    color: var(--color-5);
    border: 1.5px solid var(--color-5);
}

.essence-color,
.color-6{
    color: var(--color-6);
}
.essence-color div,
.color-6 div {
    color: var(--color-6);
}
.essence-color button,
.color-6 button {
    color: var(--color-6);
    border: 1.5px solid var(--color-6);
}

.radiance-color,
.color-7{
    color: var(--color-7);
}
.radiance-color div,
.color-7 div {
    color: var(--color-7);
}
.radiance-color button,
.color-7 button {
    color: var(--color-7);
    border: 1.5px solid var(--color-7);
}


.skills-color,
.color-8{
    color: var(--color-8);
}
.skills-color div,
.color-8 div {
    color: var(--color-8);
}
.skills-color button,
.color-8 button {
    color: var(--color-8);
    border: 1.5px solid var(--color-8);
}
.skill-line{
    background-color: var(--color-8);
}

.artifacts-color,
.color-9{
    color: var(--color-9);
}
.artifacts-color div,
.color-9 div {
    color: var(--color-9);
}
.artifacts-color button,
.color-9 button {
    color: var(--color-9);
    border: 1.5px solid var(--color-9);
}

.tournament-color,
.color-10 {
    color: var(--color-10);
}
.tournament-color div,
.color-10 div {
    color: var(--color-10);
}
.tournament-color button,
.color-10 button {
    color: var(--color-10);
    border: 1.5px solid var(--color-10);
}
/* --------------------- */
/* END COLOR ASSIGNMENTS */
/* --------------------- */





/* ------------------  */
/*   STATUS UPDATES    */
/* ------------------  */

.forge-upgrade-cell .disabled div{
    color:lightgrey!important;
}

.skill-grid button:not(:disabled):hover{
    background-color:rgb(81, 123, 37)!important;
}

#achievements-col1 .disabled {
    color:grey !important;
}

#essence-grid .disabled div {
    color:lightgrey!important;
}

.essence-cell{
    background-color:#75426e; 
}
.essence-cell:disabled:not(.complete){
    background-color:#353435;
}

.essence-cell:not(:disabled):hover {
    background-color: rgb(127, 126, 126);
}

button:not(:disabled):hover {
    background-color: #3a3a3a;
}

.complete{
    background-color: #4e8649a3;
    font-weight:bold;
}

button.enabled:active {
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
	transform: scale(0.95);
}

button:disabled {
    color: #a2a2a2;
}

.cross-out {
    text-decoration: line-through;
}

.active-tab {
    background-color: #295f9d!important;
    color: white;
}

/* ------------------  */
/* END STATUS UPDATES  */
/* ------------------  */




/* ------------------  */
/*       TOOLTIPS      */
/* ------------------  */
.tooltip-text {
    visibility: hidden;
    background-color: #202128;
    border: 1px solid white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    min-width: 200px;
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    font-size: 10px;
    font-weight: 400;
    
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 10%;
    
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltips-off .tooltip-text {
    display:none!important;
}

/* ------------------  */
/*    END TOOLTIPS     */
/* ------------------  */





/* ------------------  */
/*     TAB INFO      */
/* ------------------  */
.tab-info-container{
    text-align: left;
    position: relative; /* Add this line */
}

.info-icon{
    width: 20px;
    filter: invert(1) brightness(2);
    cursor: pointer;
}

.info-text-container{
    position: absolute;
    left:25px;
    top:0;
    width: auto;
    max-width:300px;
    white-space: normal; /* This will prevent the text inside the container from wrapping and hence respect its own width */
    background:black;
}

  
  .info-text-container.show {
    display: block;
  }

/* ------------------  */
/*    END TAB INFO     */
/* ------------------  */





/* ------------------  */
/*      CHECKBOX       */
/* ------------------  */
input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
label {
    cursor: pointer;
    width: 40px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 7px;
    position: relative;
    text-align:right;
    padding-top:10px;
    margin-left:10px;
    margin-right:10px;
    color:white;
}
  
label span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    user-select: none;
    pointer-events: none;
}
  
label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 10px;
    height: 25px;
    background: #fff;
    border-radius: 7px;
    transition: 0.1s;
    padding-top:10px;
    opacity:0.8;
}
  
input:checked + label {
    background: #34a934;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 20px;
}

/* ------------------  */
/*    END CHECKBOX     */
/* ------------------  */



/* ------------------  */
/*       MODAL         */
/* ------------------  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

#modal-message{
    color:black;
    white-space:pre;
}
/* ------------------  */
/*     END MODAL       */
/* ------------------  */





/* ------------------  */
/*  SETTINGS BUTTONS   */
/* ------------------  */

#multSettings, #save, #load, #reset, #rebirth1, #rebirth2, #rebirth3, #complete-unlocks{
    color:white;
}

#multSettings {
    padding:0px;
    font-size: 14px;
    cursor: pointer;
    width:100px;
    height:30px;
}

#settings-container {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 10px 0 10px 0;
    grid-gap:5px;
    align-items:center;
}

#save {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #save.fade {
        opacity: 0.5;
    }


#load {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #load.fade {
        opacity: 0.5;
    }


#reset {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #reset.fade {
        opacity: 0.5;
    }


#rebirth1 {
    margin-left:20px;
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth1.fade {
        opacity: 0.5;
    }

#rebirth2 {
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth2.fade {
        opacity: 0.5;
    }

#rebirth3 {
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth3.fade {
        opacity: 0.5;
    }

#tooltips-settings-container{
    display:flex;
    flex-direction:row;
    align-items:center;
}
/* ----------------------  */
/*  END SETTINGS BUTTONS   */
/* ----------------------  */


/* ----------------------  */
/*    STATS ROW   */
/* ----------------------  */

#row-stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.stats-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 150px; */
    align-items:flex-start;
    margin-right:30px;
}

#row-stats div {
    padding: 2px;
    white-space: pre;
    /* text-align: center; */
    justify-content:flex-start;
}
.stat-name{
    width:80px;
    /* text-align:left; */
}
.stat-name, .stat-value {
    padding: 2px;
    white-space: nowrap;
    text-align: left;
}

.stats-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
}


/* ----------------------  */
/*  END STATS ROW   */
/* ----------------------  */



/* ----------------------  */
/*  TAB BUTTONS  */
/* ----------------------  */

#tab-buttons {
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
    padding-bottom:20px;
}

.tabButton {
    background-color: rgba(128, 128, 128, 0);
    border-radius: 0px;
    border: 1px solid white;
    color: white;
    font-weight:bold;
    width:140px;
}

.tabButton:hover {
    background-color: orange;
}

/* ----------------------  */
/*  END TAB BUTTONS   */
/* ----------------------  */





/* ----------------------  */
/*       GENERAL CSS       */
/* ----------------------  */
#training, #forge, #skills, #exploration, #essence, #achievements, #tournament, #settings, #radiance {
    display: none;
    width:100%;
}

.main-window {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}



.content-tab {
    display: flex;
    flex-direction: column;
}

.content-tab-column-container {
    display:flex;
    flex-direction:row;
    padding:5px;
}

.content-tab-col {
    padding:20px;
    margin-top:20px;
    display:flex;
    flex-direction:column;
}

.feature-cell{
    display:flex;
    flex-direction:row;
    align-items:center;
    height:80px;
}
.feature-cell * {
    padding-left:5px;
    padding-right:5px;
}
.feature-cell button{
    width:250px;
}

.feature-current-value {
    width:120px;
}

.feature-name {
    width:200px;
}

/* ----------------------  */
/*     END MAIN CSS        */
/* ----------------------  */







/* ----------------------  */
/*  EXPLORATION TAB CSS  */
/* ----------------------  */


.exploration-tab-button {
    background-color:rgba(128, 128, 128, 0);
    color:white;
    font-weight:bold;
    border:1px solid white;
    border-radius:0px;
}

.exploration-tab-button:hover {
    background-color: orangered;
}

/* Odyssey Subtab CSS */
#Odyssey-tab-buttons{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

#tab-col1-OdysseySubTab{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}

.world-tab-button{
    color:white;
    font-weight:bold;
}

.world-name{
    font-size:20px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:10px;
    border-bottom: 2px dashed white;
}

.region-name {
    font-size:18px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:8px;
    border-bottom: 1px dashed white;
}

.region-cell {
    display:flex;
    flex-direction:column;
    grid-gap:50px;
    margin-bottom:30px;
}

.realm-buttons-row {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.realm-button{
    background-color:rgba(128, 128, 128, 0);
    color:white;
    font-weight:bold;
    border:1px solid white;
    border-radius:0px;
}


.zones-col{
    display:flex;
    flex-direction:column;
    height:400px;
    width:500px;
    position:relative;
}
.zone-cell {
    width:120px;
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone-name {
    width:120px;
    white-space:pre;
}

.zone-button{
    width: 120px;
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    
    background-color: rgb(21, 97, 122);
    color: white;
    background-repeat: no-repeat;
}

.zone-line {
    position: absolute;
    height: 1px;
    background: white;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    z-index:-1;
}


/* Tournament Subtab CSS */
#tab-col1-TournamentSubTab{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;

}

#tournament-data{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:90%;
    margin: 10px 25px 25px 25px;
}

#tournament-headband{
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
}

.fighter-tier-row{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.fighter-cell {
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fight-button {
    background-color: rgba(173, 216, 230, 0);
    color: white;

    background-repeat: no-repeat;
    transition: background 10ms;
    width:200px;
}

.fighter-name {
    width:100px;
}

.fighter-reward{
    width:200px;
}

.fighter-power{
    width:200px;
}

/* Artifact SubTab CSS */
.shard-name{
    width:200px;
    padding-bottom:10px;
}

/* Artifact Evolve Animation */
.fadeout {
    animation: fadeout 1s linear forwards;
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
  }

/* 
.artifact-cell {
}
    .artifact-cell * {
    }
.artifact-cell-button {
}
.artifact-name {
}
.artifact-button {
} */
/* ----------------------  */
/*  END EXPLORATION TAB CSS  */
/* ----------------------  */





/* ----------------------  */
/*  TRAINING REALMS TAB CSS  */
/* ----------------------  */
.realm-button:hover {
    background-color: orangered;
}

.realm-content {
    display: flex;
    flex-direction: row;
}

/* .training-cell {
}
    .training-cell * {
    }

.training-cell button{
}
.training-current-value {
}
.training-name {
} */

/* 
.generator-cell {
}
    .generator-cell * {
    }
.generator-cell button{
}
.generator-current-value{
}
.generator-name {
} */

/* 
.upgrade-cell {
}
    .upgrade-cell * {
    }
.upgrade-name {
} */
/* ----------------------  */
/*  END TRAINING REALMS TAB CSS  */
/* ----------------------  */






/* ----------------------  */
/*  FORGE UPGRADES CSS  */
/* ----------------------  */
#forge-upgrades-columns{
    /* width:1100px; */
    flex-wrap:wrap;
    justify-content:center;
}

/* #forge  {
    align-items:center;
} */

.forge-upgrade-cell {
    display:flex;
    flex-direction:row;
    align-items:center;
}

/* .forge-upgrade-cell * {
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
} */

.forge-upgrade-col{
    margin-top:20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:400px;
    text-align: 'center';
    font-size: 18;
    font-weight: 800;
    padding-bottom: '15px';
}
.forge-upgrade-button{
    width: 80px;
    height: 80px;
    white-space:pre-line;
    overflow-wrap: break-word;
    padding:2px;
}

/* ----------------------  */
/*  END FORGE UPGRADES CSS  */
/* ----------------------  */




/* ----------------------  */
/*  RADIANCE UPGRADES CSS  */
/* ----------------------  */
/* .radianceUpgrade-cell {
}
    .radianceUpgrade-cell * {
    }
.radianceUpgrade-current-value {
}
.radianceUpgrade-name {
} */

/* ----------------------  */
/*  END RADIANCE UPGRADES CSS  */
/* ----------------------  */






/* ----------------------  */
/*  ACHIEVEMENTS TAB CSS  */
/* ----------------------  */
#achievements-col1{
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
}

.achievement-cell {
    white-space:pre-line;
    width: 80px;
    height: 80px;
    margin: 5px;
    box-sizing: border-box;
    flex: 1 0 12.5%;
    max-width:80px;
    padding:2px;
    
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
}

    .achievement-cell * {
        padding-left: 5px;
        padding-right: 5px;
    }

/* ----------------------  */
/*  END ACHIEVEMENTS TAB CSS  */
/* ----------------------  */






/* ----------------------  */
/*  ESSENCE UPGRADES TAB CSS  */
/* ----------------------  */
#essence-columns{
    justify-content:center;
}

#essence-grid{
    display:flex;
    flex-direction:row;
}

.essence-cell {
    display: flex;
    flex-direction:column;
    justify-content: center;
    grid-gap:10px;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 5px;
    box-sizing: border-box;
}

.essence-cell * {
    padding-left: 5px;
    padding-right: 5px;
}

.essence-line {
    position: absolute;
    height: 1px;
    background: white;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    z-index:-1;
}

/* ----------------------  */
/* END ESSENCE UPGRADES TAB CSS  */
/* ----------------------  */






/* ----------------------  */
/* SKILL TAB CSS  */
/* ----------------------  */
#skill-data{
    display:flex;
    flex-direction:row;
}

#skills-columns{
    display:flex;
    justify-content:center;
}
.skill-complete{
    background-color:var(--color-8)!important;
    color:white!important;
}

#refund-skills-button{
    margin-left:30px;
    width:100px;
}

.skill-grid {
    position: relative;
}

.skill-node {
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space:pre;
    user-select:none;
}

.skill-line {
    position: absolute;
    z-index:3;
}

    .skill-line.north {
        top: -15px;
        left: calc(50% - 1px);
        width: 2px;
        height: 15px;
    }

    .skill-line.south {
        bottom: -15px;
        left: calc(50% - 1px);
        width: 2px;
        height: 15px;
    }

    .skill-line.east {
        right: -15px;
        top: calc(50% - 1px);
        width: 15px;
        height: 2px;
    }

    .skill-line.west {
        left: -15px;
        top: calc(50% - 1px);
        width: 15px;
        height: 2px;
    }


/* ----------------------  */
/* END SKILL TAB CSS  */
/* ----------------------  */







/* ----------------------  */
/*     SETTINGS TAB CSS     */
/* ----------------------  */
#settings {
    grid-gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#settings-tab-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    grid-gap:30px;
}

#settings-hotkeys {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
    text-align: left;
}

#settings-stats {
    display:flex;
    flex-direction:column;
    justify-content: center;
    white-space: pre;
    text-align: left;
    line-height: 12px;
}

#dailyRewardButton, #hourlyRewardButton,
#dailyRewardTimer, #hourlyRewardTimer,
#dailyRewardTitle, #hourlyRewardTitle {
    padding:5px;
    width:150px;
}


#dailyRewardContainer, #hourlyRewardContainer {
    grid-gap: 20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding:10px;
}

/* ----------------------  */
/* END SETTINGS TAB CSS  */
/* ----------------------  */





/*# sourceMappingURL=/style.e308ff8e.css.map */