body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
background-color: #2c2a2a;
color:white;
}

.container {
    max-width: 3000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
background-color: lightblue;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    width:150px;
}

    button:hover {
        background-color: lightgreen;
    }

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}


.testing-content {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

.testing-content-tab-columns {
    display:flex;
    flex-direction:row;
    border: 1px solid white;
    padding:5px;
    width: 450px;
}
.testing-content-tab {
    display: flex;
    flex-direction: column;
}

.testing-content-tab-col {
    display:flex;
    flex-direction:column;
}

#row-stats {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

#row-stats * {
    padding-left:5px;padding-right:5px;
}

.training-cell {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.training-cell * {
    padding-left:5px;padding-right:5px;
}

.upgrade-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.training-current-value {
    width:100px;
}
.training-name {
    width:120px;
}
.upgrade-name {
    width:120px;
}
.upgrade-cell * {
    padding-left: 5px;
    padding-right: 5px;
}

.fighter-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fighter-cell * {
    padding-left: 5px;
    padding-right: 5px;
}

.fighter-name {
    width:100px;
}


.skill-grid {
    position: relative;
}

.skill-node {
    color:black;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index:1;
}

.skill-line {
    position: absolute;
    background-color: white;
    z-index:3;
}

    .skill-line.north {
        top: -15px;
        left: calc(50% - 1px);
        width: 2px;
        height: 15px;
    }

    .skill-line.south {
        bottom: -15px;
        left: calc(50% - 1px);
        width: 2px;
        height: 15px;
    }

    .skill-line.east {
        right: -15px;
        top: calc(50% - 1px);
        width: 15px;
        height: 2px;
    }

    .skill-line.west {
        left: -15px;
        top: calc(50% - 1px);
        width: 15px;
        height: 2px;
    }

